Flask
keras==2.9.0
nltk
numpy
pandas
plotly
tensorflow-cpu
click>=8.0
Werkzeug>=2.0
itsdangerous>=2.0
Jinja2>=3.0
pytz>=2020.1
python-dateutil>=2.8.1
tenacity>=6.2.0
termcolor>=1.1.0
grpcio<2.0,>=1.24.3
six>=1.12.0
packaging
opt-einsum>=2.3.2
google-pasta>=0.1.1
astunparse>=1.6.0
libclang>=13.0.0
flatbuffers<2,>=1.12
wrapt>=1.11.0
typing-extensions>=3.6.6
keras<2.10.0,>=2.9.0
absl-py>=1.0.0
keras-preprocessing>=1.1.1
tensorflow-io-gcs-filesystem>=0.23.1
h5py>=2.9.0
tensorboard<2.10,>=2.9
gast<=0.4.0,>=0.2.1
tensorflow-estimator<2.10.0,>=2.9.0rc0
protobuf<3.20,>=3.9.2
tqdm
joblib
regex>=2021.8.3
MarkupSafe>=2.0
tensorboard-plugin-wit>=1.6.0
google-auth-oauthlib<0.5,>=0.4.1
requests<3,>=2.21.0
markdown>=2.6.8
google-auth<3,>=1.6.3
tensorboard-data-server<0.7.0,>=0.6.0
pyparsing!=3.0.5,>=2.0.2
rsa<5,>=3.1.4
pyasn1-modules>=0.2.1
cachetools<6.0,>=2.0.0
requests-oauthlib>=0.7.0
certifi>=2017.4.17
idna<4,>=2.5
urllib3<1.27,>=1.21.1
charset-normalizer<3,>=2
pyasn1<0.5.0,>=0.4.6
oauthlib>=3.0.0
